.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio__item{
    background: var(--color-bg-variant);
    padding: 3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio__item-image{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid white;
   
}
.highlighted-text {
    color: var(--color-primary); /* Set the desired text color */
    font-weight: bold; /* Optionally, make the text bold */
    /* Add any other styles you want to apply to the highlighted text */
}


.portfolio__item .top__margin{
    margin-top: 1.2rem ;
    justify-content: center;
}
.portfolio__item .bottom_margin{
    margin-bottom: 1.2rem ;
    justify-content: center;
}
.portfolio__item-cta{
   
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}

/*==========MEDIA QUERY FOR(MEDIUM DEVICES)=======*/
@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
 }
 /*==========MEDIA QUERY FOR(SMALL DEVICES)=======*/
 @media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
 }